* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top left, #b657ce, #563463);
  /* background: linear-gradient(to top left, #2d2a2e, #323033); */
}

.container {
  display: flex;
  /* border-radius: 20px; */
  width: 50%;
  height: 65%;
  /* background: linear-gradient(to top right, #904edb, #ac7cc4); */
}

.container-player1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 3px 20px;
  opacity: 1;
  background: #904edb;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  position: absolute;
  left: 875px;
  top: 190px;
  /* background: linear-gradient(to right, #b580eb, #cdb1e9); */
  /* opacity: 0.5; */
}

.container-middle > button {
  /* background: transparent; */
  width: 170px;
  height: 45px;
  border-radius: 20px;
  border: transparent;
  font-size: 20px;
  cursor: pointer;
  /* padding: 2px 5px; */
  /* font-size: 10px; */
}

.dice-img0 {
  width: 105px;
  height: 105px;
}

.dice-img1 {
  width: 105px;
  height: 105px;
}

.container-player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 3px 20px;
  /* opacity: 0.9; */
  background: #cdb1e9;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.top-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-score-box {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #b580eb;
  width: 200px;
  height: 110px;
  border-radius: 7%;
  margin-bottom: 60px;
}

.current-score-1 {
  font-size: 35px;
}

.current-score-2 {
  font-size: 35px;
}

.player1-title {
  font-size: 45px;
  margin-top: 80px;
}

.player2-title {
  font-size: 45px;
  margin-top: 80px;
}

.score-player1 {
  font-size: 50px;
}
.score-player2 {
  font-size: 50px;
}
